PRODUCT_NAME = $(PRODUCT_SUITE_NAME);
PRODUCT_BUNDLE_IDENTIFIER = com.diegolavalle.Neverbroke2.WatchKit;
TARGETED_DEVICE_FAMILY = $(WATCHOS_TARGETED_DEVICE_FAMILY);
ASSETCATALOG_COMPILER_APPICON_NAME = WatchAppIcon;
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor;
IBSC_MODULE = Neverbroke2_WatchKit_Extension;

INFOPLIST_FILE = Config/watchOS/ContainerApp/Info.plist;
CODE_SIGN_ENTITLEMENTS = Config/watchOS/ContainerApp/shared.entitlements;

SDKROOT = watchos;
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES;
SKIP_INSTALL = YES;
